<div class="home-container">
  <app-card
  [gameCover]="'assets/bt-1.jpeg'"
  [gameLabel]="'EXCLUSIVE'"
  [gamePrice]="'R$129.99'"
  [gameType]="'DIGITAL | PS4 & PS5'"
  ></app-card>
  <app-card
  [gameCover]="'assets/bt-4.jpeg'"
  [gameLabel]="'DELUX'"
  [gamePrice]="'R$299.90'"
  [gameType]="'DIGITAL | PS4'"
  ></app-card>
  <app-card
  [gameCover]="'assets/ac-cover.jpeg'"
  [gameLabel]="''"
  [gamePrice]="'R$74.99'"
  [gameType]="'DIGITAL | PS4'"
  ></app-card>
  <app-card
  [gameCover]="'assets/bt-5.jpeg'"
  [gameLabel]="''"
  [gamePrice]="'R$169.99'"
  [gameType]="'DIGITAL | PS4 & PS5'"
  ></app-card>
  <app-card
  [gameCover]="'assets/bt-bad-company-2.jpeg'"
  [gameLabel]="'LIMITED'"
  [gamePrice]="'R$84.99'"
  [gameType]="'DIGITAL | PS4'"
  ></app-card>
  <app-card
  [gameCover]="'assets/bt-hardline.jpeg'"
  [gameLabel]="'ULTIMATE'"
  [gamePrice]="'R$399.99'"
  [gameType]="'DIGITAL | PS4'"
  ></app-card>
</div>
