<div class="menu-bar-container">
  <div class="menu-bar-logo">
    <img
    src="assets/ps-logo.png"
    alt="playstation store logo"
    srcset=""
    width="140px"
    height="32px"
    >
  </div>
  <div class="menu-bar-items">
    <ul>
      <li>
        <a
        href="https://www.linkedin.com/in/gustavomotamacedo"
        target="_blank"
        >
        LinkedIn
      </a></li>
      <li><a
        href="http://www.github.com/gustavomotamacedo"
        target="_blank"
        >
        GitHub
      </a>
      </li>
      <li>
        <a
        href="https://www.instagram.com/mocc3_"
        target="_blank"
        >
          Instagram
      </a>
      </li>
    </ul>
  </div>
</div>
