.menu-bar-container
{
  display: flex;
  flex-direction: row;
  position: fixed; /* mantem o menu fixo ao rolar a página */
  z-index: 999; /* deixa o elemento numa camada acima de todas as outras */
  background-color: #FFFFFF;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.menu-bar-logo
{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.menu-bar-items
{
  display: flex;
  align-items: center;
  margin: auto;
}
.menu-bar-items ul
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.menu-bar-items li {
  padding: 5px;
  margin: 0 15px 0 0;
}
.menu-bar-items a
{
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  color: rgba(7, 7, 7, 1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-bar-items a:hover
{
  color: blue;
  font-weight: 700;
  transition-duration: .25s;
}
